{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "minify": {
      "compress": true,
      "mangle": true
    }
  },
  "minify": true
}